<form [formGroup]="professionalForm" class="col-lg-4 m-2" (submit)="newProfessional();" novalidate>
    <div class="mb-3">
        <label type="text"
                class="form-label"
                >First Name</label>
        <input type="text" 
                class="form-control" 
                formControlName="firstName">
        <div class="form-text text-danger"  *ngIf="fm.firstName.invalid && (fm.firstName.dirty || fm.firstName.touched)">Invalid First Name</div>
    </div>

    <div class="mb-3">
        <label type="text"
                class="form-label"
                >Last Name</label>
        <input type="text" 
                class="form-control" 
                formControlName="lastName">
        <div class="form-text text-danger"  
            *ngIf="fm.lastName.invalid && (fm.lastName.dirty || fm.lastName.touched)">
            Invalid Last Name
        </div>
    </div>

    <div class="mb-3">
        <label type="text"
                class="form-label"
                >City</label>
        <input type="text" 
                class="form-control" 
                formControlName="city">
        <div class="form-text text-danger"  
            *ngIf="fm.city.invalid && (fm.city.dirty || fm.city.touched)">
            Invalid City
        </div>
    </div>
    
    <div class="col-lg-12">    
        <div class="alert alert-danger" *ngIf="status === 'error'" role="alert">
            {{ error.message }}
        </div>
        <div class="alert alert-success" *ngIf="status === 'ok'" role="alert">
            Added Successfuly
        </div>
      </div>

    <button class="btn btn-primary" [ngStyle]="{float:'right'}" type="submit" data-test-id="submit-button" [disabled]="professionalForm.invalid">
      Submit
    </button>

  </form>

