<form [formGroup]="professionalForm" class="col-lg-4 m-2" (submit)="newProfessional();" novalidate>
    <div class="mb-3">
        <label type="text"
                class="form-label"
                >First Name</label>
        <input type="text" 
                class="form-control"
                data-test-id="first-name" 
                formControlName="firstName">
        <div class="form-text text-danger"  
            *ngIf="fm.firstName.invalid && (fm.firstName.dirty || fm.firstName.touched)"
            data-test-id="first-name-error">
            Invalid First Name
        </div>
    </div>

    <div class="mb-3">
        <label type="text"
                class="form-label"
                >Last Name</label>
        <input type="text" 
                class="form-control"
                data-test-id="last-name" 
                formControlName="lastName">
        <div class="form-text text-danger"  
            *ngIf="fm.lastName.invalid && (fm.lastName.dirty || fm.lastName.touched)"
            data-test-id="last-name-error">
            Invalid Last Name
        </div>
    </div>

    <div class="mb-3">
        <label type="text"
                class="form-label"
                >City</label>
        <input type="text" 
                class="form-control" 
                data-test-id="city"
                formControlName="city">
        <div class="form-text text-danger"  
            *ngIf="fm.city.invalid && (fm.city.dirty || fm.city.touched)"
            data-test-id="city-error">
            Invalid City
        </div>
    </div>

    <div class="mb-3">
        <label type="text"
                class="form-label"
                >About Me</label>
        <input type="text" 
                class="form-control" 
                data-test-id="about-me"
                formControlName="aboutMe">
        <div class="form-text text-danger"  
            *ngIf="fm.aboutMe.invalid && (fm.aboutMe.dirty || fm.aboutMe.touched)"
            data-test-id="about-me-error">
            Invalid Data
        </div>
    </div>

    <div class="mb-3">
        <label type="text"
                class="form-label"
                >Services</label>
        <input type="text" 
                class="form-control" 
                data-test-id="services"
                formControlName="services">
        <div class="form-text text-danger"  
            *ngIf="fm.services.invalid && (fm.services.dirty || fm.services.touched)"
            data-test-id="services-error">
            Invalid Data
        </div>
    </div>

    <div class="mb-3">
        <label type="text"
                class="form-label"
                >Time Table</label>
        <input type="text" 
                class="form-control" 
                data-test-id="time-table"
                formControlName="timeTable">
        <div class="form-text text-danger"  
            *ngIf="fm.timeTable.invalid && (fm.timeTable.dirty || fm.timeTable.touched)"
            data-test-id="time-table-error">
            Invalid Time Table
        </div>
    </div>
    
    <div class="col-lg-12">    
        <div class="alert alert-danger" *ngIf="status === 'error'" role="alert">
            {{ error.message }}
        </div>
        <div class="alert alert-success" *ngIf="status === 'ok'" role="alert">
            Added Successfuly
        </div>
    </div>

    <button class="btn btn-primary" 
            [ngStyle]="{float:'right'}" 
            type="submit" 
            data-test-id="submit-button" 
            [disabled]="professionalForm.invalid">
      Submit
    </button>

  </form>

