<ng-container *ngIf="status === 'ok' || status === 'waiting'; else errorTemplate">
    <div class="card mb-3" style="max-width: 540px;" *ngIf="loaded">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="professional.avatar" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{professional.first_name}} {{professional.last_name}} ({{ professional.city }})</h5>
              <p class="card-text"><b>About me:</b> {{ professional.services[0].aboutme }}</p>
              <p class="card-text"><b>Time Table:</b> {{ professional.services[0].timetable }}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
</ng-container>

<ng-template #errorTemplate>
    <div class="alert alert-danger" role="alert">
        {{ error.message }}
    </div>
</ng-template>


