 <div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">Appointments</div>
    <div class="list-group list-group-flush">
      <!-- <a class="nav-link" routerLink="professionals" routerLinkActive="mat-primary">Professionals</a> -->
      <a routerLink="professionals" routerLinkActive="mat-primary" class="list-group-item list-group-item-action bg-light">Professionals</a>
      <a routerLink="public-pages" routerLinkActive="mat-primary" class="list-group-item list-group-item-action bg-light">Public Pages</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

