<!-- <h1>Rutas y Lazyload App</h1>

<ul>
  <li><a routerLink="/professionals/edit">Edit Professional</a></li>
  <li><a routerLink="/professionals/list">List</a></li>
  <li><a routerLink="/professionals/new">New Professional</a></li>
  <li><a routerLink="/professionals/search">Search Professional</a></li>
</ul>


<ul>
  <li><a routerLink="/usuarios/nuevo">nuevo</a></li>
  <li><a routerLink="/usuarios/editar">editar</a></li>
  <li><a routerLink="/usuarios/listado">listado</a></li>
  <li><a routerLink="/usuarios/usuario">usuario</a></li>
</ul>
 -->

<router-outlet></router-outlet>